@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

/*************************
*******Typography******
**************************/

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #4e4e4e;
    line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #7fff00;
}

h1 {
    font-size: 36px;
/*    color: #FFFF00;*/
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
}

img{
    max-width: 70px;
	
	
}

h4 {
    font-size: 16px;
}

a {
    color: #7fff00;
    -webkit-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}

a:hover,
a:focus {
    color: #7fff00;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

.btn-primary {
    padding: 8px 20px;
    background: #7fff00;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #7fff00;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}

.dropdown-menu {
    margin-top: 50px;
    min-width: 500px;
}

.center h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
}

.media>.pull-left {
    margin-right: 20px;
}

.media>.pull-right {
    margin-left: 20px;
}

body>section {
    padding: 70px 0;
}

.center {
    text-align: center;
    padding-bottom: 55px;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

.lead {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.transparent-bg {
    background-color: transparent !important;
    margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.page-title{
    padding: 150px 0;
}

.page-title h1{
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 64px;
}


/*************************
*******Header******
**************************/


#header .search {
    display: inline-block;
}

.navbar>.container .navbar-brand {
    margin-left: 0;
	
}

.top-bar {
    padding: 10px 0;
    background: #191919;
    border-bottom: 1px solid #222;
    line-height: 28px;
}

.top-number {
    color: #fff;
}

.top-number p {
    margin: 0
}

.social {
    text-align: right;
}

.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-share li {
    display: inline-block;
}

ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

ul.social-share li a:hover {
    background:#7fff00;
    color: #fff;
}

.search i {
    color: #fff;
}

input.search-form {
    background: transparent;
    border: 0 none;
    width: 60px;
    padding: 0 10px;
    color: #FFF;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

input.search-form::-webkit-input-placeholder {
    color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
    color: #fff;
}

input.search-form:hover {
    width: 180px;
}

.navbar-brand {
    padding-left: 450px;
    margin: 10px;
	
	
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #151515;
    padding: 5px 0;
    padding-bottom: 0;
}

.navbar-nav {
    margin-top: 12px;
}

.navbar-nav>li {
    margin-left: 35px;
    padding-bottom: 28px;
}

.navbar-inverse .navbar-nav>li>a {
    padding: 5px 20px;
    margin-left: 20px;
    border-radius: 3px;
    color: #fff;
    line-height: 20px;
    display: inline-block;
    font-weight: 1000;
	font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #7fff00;
    color: #fff;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #7fff00;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: rgba(0, 0, 0, .85);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before {
    position: absolute;
    top: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu>li>a {
    padding: 8px 15px;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:hover>a,
.navbar-inverse .navbar-nav .dropdown-menu>li:focus>a,
.navbar-inverse .navbar-nav .dropdown-menu>li.active>a {
    background-color: #7fff00;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:last-child>a {
    border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu>li.divider {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-top: 0;
    padding-bottom: 0;
}


/*************************
*******Home Page******
**************************/

#main-slider {
    position: relative;
}

.no-margin {
    margin: 0;
    padding: 0;
}

#main-slider .carousel .carousel-content {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

#main-slider .carousel .slide-margin {
    margin-top: 140px;
}

#main-slider .carousel h1 {
    font-size: 64px;
    font-weight: 700;
    margin: -180px 0 20px;
    color: #7fff00;
}

#main-slider .carousel .btn-slide {
    padding: 0 30px;
    line-height: 42px;
    background: #7fff00;
    color: #fff;
    border-radius: 4px;
    margin-top: 40px;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #7fff00;
}

#main-slider .carousel .btn-slide.white {
    border: 1px solid rgba(255, 255, 255, 0.44);
    background: rgba(255, 255, 255, 0.26);
    color: #fff;
}

#main-slider .carousel .slider-img {
    text-align: right;
    position: absolute;
}

#main-slider .carousel .item {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    height: 730px;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#main-slider .carousel .item:first-child {
    top: auto;
    position: relative;
}

#main-slider .carousel .item.active {
    opacity: 1;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    z-index: 1;
}

#main-slider .prev,
#main-slider .next {
    position: absolute;
    top: 50%;
    background-color: #7fff00;
    color: #fff;
    display: inline-block;
    margin-top: -25px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    z-index: 5;
}

#main-slider .prev:hover,
#main-slider .next:hover {
    background-color: #000;
}

#main-slider .prev {
    left: 10px;
}

#main-slider .next {
    right: 10px;
}

#main-slider .carousel-indicators {
    margin: 0;
    left: 0;
    width: 100%;
    bottom: 80px;
}

#main-slider .carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: transparent;
    margin: 0 5px;
    position: relative;
    border: 1px solid #fff;
}

#main-slider .carousel-indicators li.active {
    background-color: #7fff00;
    border: 1px solid #7fff00
}

#main-slider .active .animation.animated-item-1 {
    -webkit-animation: fadeInUp 300ms linear 300ms both;
    animation: fadeInUp 300ms linear 300ms both;
}

#main-slider .active .animation.animated-item-2 {
    -webkit-animation: fadeInUp 300ms linear 600ms both;
    animation: fadeInUp 300ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
    -webkit-animation: fadeInUp 300ms linear 900ms both;
    animation: fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
    -webkit-animation: fadeInUp 300ms linear 1200ms both;
    animation: fadeInUp 300ms linear 1200ms both;
}

	

#conatcat-info {
    background: #fff url(../images/contact.png) no-repeat 90% 0;
    padding: 30px 0;
}

.contact-info i {
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    background: #000;
    text-align: center;
    border-radius: 10px;
}

.contact-info h2 {
    margin-top: 0;
    color: #000;
}

.contact-info {
    color: #000;
}

/*testimonial slider*/

#testimonial{
    background-color: #FAFAFA;
}
.testimonial-slider.owl-carousel .owl-item img{
    width: auto;
    display: inline-block;
}

.testimonial-slider{
    text-align: center;
}

.testimonial-slider .single-slide{
    background-color: #fff;
    padding: 45px 35px;
    color: #707070;
    font-size: 16px;
    line-height: 26px;
}

.testimonial-slider .single-slide .slide-img{
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 15px;
}
.testimonial-slider .content h4{
    margin: 20px 0 0;
}
.testimonial-slider .content img{
    margin-bottom: 20px;
}
.testimonial-slider .owl-dots{
    margin: 50px 0 0;
}
.testimonial-slider .owl-dot {
    width: 10px;
    height: 10px;
    background: #fff;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid #7fff00;
}
.testimonial-slider .owl-dot.active{
    background-color: #7fff00;
}

/
/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}


/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
}


/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}


/* End: Recommended Isotope styles */


/* disable CSS transitions for containers with infinite scrolling*/

.isotope.infinite-scrolling {
    -webkit-transition: none;
    transition: none;
}




/*************************
********* Contact Us CSS ******
**************************/


#contact-page {
    padding-top: 0;
	
}

#contact-page .contact-form .form-group label {
    color: #989898;
    font-size: 16px;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.form-group .form-control {
    padding: 0 12px;
    border-color: #f2f2f2;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 50px;
}

.form-group textarea.form-control{
    height: 235px;
}

.form-group button{
    font-size: 15px;
    padding: 15px 30px;
}

textarea#message {
    resize: none;
    padding: 10px;
}

#contact-page .contact-wrap {
    margin-top: 20px;
}

.large-title{
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}

.large-title h2{
    font-size: 48px;
    font-weight: 700;
    color: #222;
}


.large-title p{
    font-size: 16px;
    line-height: 26px;
    color: #989898;
    font-weight: 300;
}



/******************
shortcodes page css
******************/

.shortcode-item {
    padding-bottom: 0;
}

.shortcode-item h2 {
    color: #4E4E4E;
    font-size: 24px;
    margin-bottom: 22px;
    margin-top: 0;
    font-weight: 600
}


/***********************
********* Footer ******
************************/
.footer-logo{
    display: inline-block;
	

}
#bottom {
    background: #f5f5f5;
    border-bottom: 5px solid #7fff00;
    font-size: 14px;
}

#bottom h3 {
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

#bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#bottom ul li {
    display: block;
    padding: 4px 0;
}

#bottom ul li a {
    color: #808080;
    font-weight: 300;
}

#bottom ul li a:hover {
    color: #7fff00;
}

#bottom .widget {
    margin-bottom: 0;
    padding-left: 15px;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #2e2e2e;
    font-weight: 300;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #7fff00;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul>li {
    display: inline-block;
    margin-left: 15px;
}
